@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-dark: #202020;
  --color-primary-light: #ffffff;

  --color-bg-content: #f7f7f7;
  --color-bg-card: #f7f7f7;
  --color-bg-card-dark: #202020;

  --color-danger: #ea4335;
  --color-warning: #a44a28;
  --color-success: #3fa75a;
  --color-border: #e6e6e6;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}
