@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-dark: #202020;
  --color-primary-light: #ffffff;
  --color-primary-gradient-dark: #4f4f4f;

  --color-bg-content: #f7f7f7;
  --color-bg-card: #f7f7f7;
  --color-bg-card-dark: #202020;

  --color-danger: #ea4335;
  --color-warning: #a44a28;
  --color-success: #3fa75a;
  --color-success-light: #3fa75a1a;
  --color-border: #e6e6e6;
  --color-border-light: #eeeeee;

  --color-text-muted: #989898;

  --color-link-primary: #3fa75a;
  --color-link-secondary: #155eef;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

/* Disable the default "eye" icon Edge or Internet Explorer */
input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}

/* Disable the default "eye" icon in Safari */
input[type='password'] {
  -webkit-text-security: disc; /* Ensures Safari uses "dots" for password */
  appearance: none; /* Removes default styling like the eye icon */
}

@layer utilities {
  /* Start font size  */
  .text-extra-small {
    @apply text-10;
  }

  .text-small {
    @apply text-12;
  }

  .text-medium {
    @apply text-15;
  }

  .text-large {
    @apply text-18;
  }

  .text-extra-large {
    @apply text-25;
  }

  .text-huge {
    @apply text-28;
  }

  .text-giant {
    @apply text-32;
  }

  /*End font size  */

  /* Start Border Radious  */
  .rounded-extra-small {
    @apply rounded-3;
  }

  .rounded-small {
    @apply rounded-5;
  }

  .rounded-medium {
    @apply rounded-10;
  }

  /* End Border Radious  */

  .btn-gradient {
    @apply bg-gradient-to-r from-primary-dark to-primary-gradient-dark text-primary-light;
  }
}

/* start custom scrollbar  */
.custom-scrollbar {
  @apply scrollbar-track-border-primary scrollbar-thumb-content scrollbar-track-rounded-full scrollbar-thumb-rounded-full;
  /* Custom properties for thinner scrollbar */
  scrollbar-width: 4px; /* For Firefox */
  -webkit-overflow-scrolling: touch;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* For WebKit browsers */
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--color-border-primary); /* Track color */
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-bg-content); /* Thumb color */
  border-radius: 9999px;
}
/* End custom scrollbar  */

/* Start antd Custom Design */
.ant-radio-button-wrapper-checked {
  background-color: #202020 !important;
  color: white !important;
}

.ant-select-selector {
  border: 1px solid #eeeeee !important;
  border-radius: 6px;
}

/* Target the hover state */
.ant-select:hover {
  border-color: #3fa75a !important;
  box-shadow: 0 0 0 1px #3fa75a !important;
  border-radius: 6px;
}

/* Target the focus state */
.ant-select-focused {
  border-color: #3fa75a !important;
  box-shadow: 0 0 0 1px #3fa75a !important;
  border-radius: 6px;
}

/* Default state */
.ant-picker {
  border: 1px solid #eeeeee !important;
}

.ant-picker:hover {
  border-color: #3fa75a !important;
  box-shadow: 0 0 0 1px #3fa75a !important;
}

/* Focus state */
.ant-picker-focused {
  border-color: #3fa75a !important;
  box-shadow: 0 0 0 1px #3fa75a !important;
}

.ant-picker-active {
  border-color: #3fa75a !important;
  box-shadow: 0 0 0 1px #3fa75a !important;
}

.ant-picker:not(.ant-picker-focused):hover {
  border-color: #3fa75a !important;
  box-shadow: 0 0 0 1px #3fa75a !important;
}

.ant-picker:not(.ant-picker-focused):not(:hover) {
  border-color: #eeeeee !important;
}

/* End antd Custom Design */

/* Start Card component  */
@layer components {
  .card {
    @apply rounded-small bg-primary-light px-4 py-2;
  }
  .card-border {
    @apply border border-border-primary;
  }
  .card-border-bottom {
    @apply border-b border-border-primary;
  }
  .card-title {
    @apply my-1 font-bold capitalize;
  }
  .card-subtitle {
    @apply text-small my-1 capitalize text-muted;
  }
  .card-secondary-subtitle {
    @apply text-medium my-1 font-semibold capitalize;
  }
  .card-link {
    @apply cursor-pointer text-12 capitalize underline;
  }
}
/* End Card component  */

/* Start Document Card component  */

.document-icon {
  @apply flex h-8 w-8 items-center justify-center rounded-full bg-content;
}

/* End Document Card component  */
